@font-face {
  font-family: 'WeblySleek_UI_Normal'; // 400
  src: url('../fonts/Weblysleek_ui/WeblySleek_UI_Normal.ttf');
}
@font-face {
  font-family: 'WeblySleek_UI_Semilight'; // 300
  src: url('../fonts/Weblysleek_ui/WeblySleek_UI_Semilight.ttf');
}
@font-face {
  font-family: 'WeblySleek_UI_Semibold'; // 600
  src: url('../fonts/Weblysleek_ui/WeblySleek_UI_Semibold.ttf');
}

@font-face {
  font-family: 'Lato'; // 400
  src: url('../fonts/Lato/Lato-Regular.ttf');
}
@font-face {
  font-family: 'Lato Light'; // 300
  src: url('../fonts/Lato/Lato-Light.ttf');
}
@font-face {
  font-family: 'Lato Bold'; // 700
  src: url('../fonts/Lato/Lato-Bold.ttf');
}


// Icons font: github, codepen
@font-face {
  font-family: 'icomoon';
  src:
    url('../fonts/icomoon/icomoon.ttf?m07opx') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?m07opx') format('woff'),
    url('../fonts/icomoon/icomoon.svg?m07opx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-codepen:before {
  content: "\e900";
}
.icon-github-alt:before {
  content: "\e901";
}
