// bower:scss
@import "bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@import "fonts.scss";

/* RGB */
$white:  rgba(255, 255, 250, 1);
$red:    rgba(204, 41, 54, 1);
$yellow: rgba(252, 202, 70, 1);
$black:  rgba(10, 15, 13, 1);
$blue:   rgba(0, 61, 91, 1);

body {
  font-family: 'WeblySleek_UI_Semilight';
}

.title {
  font-family: 'Lato';
}

.tags {
  font-family: 'Lato';
}

.aboutme {
  // margin-top: 56px;
  background: $blue;
  color: $white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testBG {
  // background-image: url(http://ppcdn.500px.org/75319705/1991f76c0c6a91ae1d23eb94ac5c7a9f7e79c480/2048.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.jumbotron {
  margin-bottom: 0;
  color: $white;
}

// testing
.project-tictactoe {
  background: url(../images/_grey.png) bottom center no-repeat;
}
.project-red {
  background: url(../images/red.png) bottom center no-repeat;
}
.project-yellow {
  background: url(../images/yellow.png) bottom center no-repeat;
}
.project-blue {
  background: url(../images/blue.png) bottom center no-repeat;
}

.footer {
  position: absolute;
  width: 100%;
}

.social-codepen,
.social-github {
  vertical-align: middle;
}

@media (max-width: 576px) {
  .jumbotron {
    padding-top: 0;
  }
}
