.wrapper {
  padding: var(--spacing-10) var(--spacing-5);
}
.sections {
  display: grid;
  grid-template-columns: 1fr var(--maxWidth-wrapper) 1fr;
  /* photo size + (content padding * 2) */
  grid-template-rows: minmax(21rem, auto);
  grid-template-rows: repeat(3, auto);
}

.sections section {
  /* grid-column-start: 1;
  grid-column-end: 3; */
  /* grid-column: span 3; */
}

.sections section:nth-of-type(even) {
  background-color: rgba(209, 213, 219, 1);
}

.content {
  margin: var(--spacing-0) auto;
  border-left: 1px dashed gray;
  border-right: 1px dashed gray;
  padding: var(--spacing-10) var(--spacing-5);
}

.image-of-me {
  max-height: 16rem;
  border-radius: 4px;
  justify-self: center;
  margin: auto var(--spacing-0);
}
