.portfolio {
  display: grid;
  grid-template-columns: 1fr var(--maxWidth-wrapper) 1fr;
  align-items: center;
}

.portfolio section:nth-of-type(even) {
  background-color: rgba(209, 213, 219, 1);
}

.portfolio section {
  grid-column: 2;
  padding: var(--spacing-5) var(--spacing-5);
}

.portfolio .about {
  grid-column: 2;
}

.image-of-me {
  border-radius: 4px;
  margin-left: var(--spacing-5);
  justify-self: start;
  align-self: center;
  grid-column: 3;
}

/* When image and image can't fit side-by-side */
/* 2.5rem padding, 42 rem width, 256px image (16rem) */
@media (max-device-width: 968px) {
  .portfolio {
    grid-template-columns: auto;
  }

  .portfolio section {
    grid-column: span 3;
  }

  .image-of-me {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
    margin: var(--spacing-2) var(--spacing-5);
  }

  h2 {
    margin-top: 0;
  }
}
