/* general */
.v-navbar-fix {
  padding: 3.5rem 0;
}

.jumbotron {
  color: #fff;
  margin-bottom: 0;
}

.project-tictactoe {
  background: url(../images/_grey.jpg) bottom no-repeat
}

.project-red {
  background: url(../images/red.jpg) bottom no-repeat
}

.project-yellow {
  background: url(../images/yellow.jpg) bottom no-repeat
}

.project-blue {
  background: url(../images/blue.jpg) bottom no-repeat
}

.footer {
  position: absolute;
  width: 100%
}

.footer-icons {
  font-size: 1.5rem
}

.footer-icons a {
  color: #0a0f0d;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: .25rem .5rem;
  border-radius: .25rem;
  border: 1px solid transparent
}

.footer-icons a:hover {
  text-decoration: none;
  transition: all .2s ease-in-out;
  border: 1px solid #343a40;
}

.form-submit-btn {
  cursor: pointer
}

.footer-signature {
  padding-top: 1rem
}

@media (max-width:992px) {
  .jumbotron {
      padding-top: 3rem;
      padding-bottom: 3rem
  }
}

/* fonts */
@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon/icomoon.ttf) format("truetype"), url(../fonts/icomoon/icomoon.woff) format("woff"), url(../fonts/icomoon/icomoon.svg) format("svg");
  font-weight: 400;
  font-style: normal
}

i {
  font-family: icomoon!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-codepen:before {
  content: "\e900"
}

.icon-github-alt:before {
  content: "\e902"
}

.icon-mail-read:before {
  content: "\f03c"
}

.icon-phone:before {
  content: "\e942"
}

.icon-twitter:before {
  content: "\ea96"
}

.icon-linkedin2:before {
  content: "\eaca"
}

.icon-stackoverflow:before {
  content: "\ead0"
}

.icon-th-menu:before {
  content: "\e901"
}